In [49]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [68]:
data = pd.read_csv('netflix.csv')
data

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,62b8b682-f191-4c10-aa04-32319329bd8d,الف مبروك,"On his wedding day, an arrogant, greedy accoun...",Ahmed Nader Galal,"Comedies, Dramas, International Movies","Ahmed Helmy, Laila Ezz El Arab, Mahmoud El Fis...",Egypt,2009.0,TV-14,115 min,7.4/10,Movie,"April 25, 2020"
5963,5bed77ab-5e31-4216-8b51-44c9a35442e6,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,NaN,"International TV Shows, TV Dramas","Bashar al-Shatti, Fatima Al Safi, Maram Baloch...",NaN,2019.0,TV-14,1 Season,NaN,TV Show,NaN
5964,4661ec0c-8692-4661-bc76-a96412b311fd,海的儿子,"Two brothers start a new life in Singapore, wh...",NaN,"International TV Shows, TV Dramas","Li Nanxing, Christopher Lee, Jesseca Liu, Appl...",NaN,2016.0,TV-14,1 Season,NaN,TV Show,NaN
5965,145c93a7-1924-403c-a933-4ede8ad66f26,반드시 잡는다,After people in his town start turning up dead...,Hong-seon Kim,"Dramas, International Movies, Thrillers",Baek Yoon-sik,South Korea,2017.0,TV-MA,110 min,6.5/10,Movie,"February 28, 2018"
5966,d4613d34-cb71-4bd6-b570-fa857f02c44d,최강전사 미니특공대 : 영웅의 탄생,"Miniforce, a special task force of elite range...",Young Jun Lee,Children & Family Movies,"Um Sang-hyun, Yang Jeong-hwa, Jeon Tae-yeol, S...",NaN,2018.0,TV-Y7,68 min,4.7/10,Movie,"September 1, 2018"

In [51]:
data.shape

(5967, 13)

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Show Id             5967 non-null   object
 1   Title               5967 non-null   object
 2   Description         5967 non-null   object
 3   Director            3903 non-null   object
 4   Genres              5967 non-null   object
 5   Cast                5437 non-null   object
 6   Production Country  5408 non-null   object
 7   Release Date        5964 non-null   float64
 8   Rating              5963 non-null   object
 9   Duration            5964 non-null   object
 10  Imdb Score          5359 non-null   object
 11  Content Type        5967 non-null   object
 12  Date Added          4632 non-null   object
dtypes: float64(1), object(12)
memory usage: 606.1+ KB

In [53]:
data.isna().sum()

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

In [54]:
data = data[["Title", "Description", "Genres", "Content Type"]]
data.head()

,Title,Description,Genres,Content Type
0,(Un)Well,This docuseries takes a deep dive into the luc...,Reality TV,TV Show
1,#Alive,"As a grisly virus rampages a city, a lone man ...","Horror Movies, International Movies, Thrillers",Movie
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Documentaries, International Movies",Movie
3,#blackAF,Kenya Barris and his family navigate relations...,TV Comedies,TV Show
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,"Documentaries, International Movies",Movie

title column contains the titles of movies and TV shows on Netflix
Description column describes the plot of the TV shows and movies
The Genre column contains all the genres of the TV show or the movie
The Content Type column tells us if it’s a movie or a TV show

In [55]:
# now we drop the rows containing null values:
data = data.dropna()
data.tail()

,Title,Description,Genres,Content Type
5962,الف مبروك,"On his wedding day, an arrogant, greedy accoun...","Comedies, Dramas, International Movies",Movie
5963,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,"International TV Shows, TV Dramas",TV Show
5964,海的儿子,"Two brothers start a new life in Singapore, wh...","International TV Shows, TV Dramas",TV Show
5965,반드시 잡는다,After people in his town start turning up dead...,"Dramas, International Movies, Thrillers",Movie
5966,최강전사 미니특공대 : 영웅의 탄생,"Miniforce, a special task force of elite range...",Children & Family Movies,Movie

In [56]:
import nltk
import re
# nltk.download('stopwords')
stemmer = nltk.SnowballStemmer("english")
from nltk.corpus import stopwords
import string
stopword=set(stopwords.words('english'))

def clean(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = [word for word in text.split(' ') if word not in stopword]
    text=" ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text=" ".join(text)
    return text
data["Title"] = data["Title"].apply(clean)

In [57]:
print(data.Title.sample(20))

4141                         secret saqqara tomb
2754                      live bondag break free
1192                      dark citi beneath beat
1957                                       happi
204           aditi mittal thing wouldnt let say
2035                                      heroin
864     calico critter everyon big dream fli sky
4293                                        skin
4545                             talk tom friend
2191                              im brent morin
2005                                    headwind
4321                             grandma lesbian
1799                                 ghanchakkar
5702              wakfu quest six eliatrop dofus
2721                                  light dark
3290                 littl poni friendship magic
2616                                      ladi j
1481                elf pet santa reindeer rescu
5570                               unabomb  word
2600                             la ley de herod
Name: Title, dtype: object

We will will use the Genres column as the feature to recommend similar content to the user. 
we use the concept of cosine similarity

In [58]:
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity

In [59]:
feature = data["Genres"].tolist()
tfidf = text.TfidfVectorizer(input=feature, stop_words = "english")
tfidf_matrix = tfidf.fit_transform(feature)
similarity = cosine_similarity(tfidf_matrix)

The TfidfVectorizer uses an in-memory vocabulary (a python dict) to
map the most frequent words to feature indices and hence compute a word occurrence frequency (sparse) matrix.
With Tfidfvectorizer you compute the word counts, idf and tf-idf values all at once.

In [38]:
# set the Title column as an index so that we can find similar
# content by giving the title of the movie or TV show as an input:
indices = pd.Series(data.index, 
                    index=data['Title']).drop_duplicates()

In [69]:
def netflix_recommendation(title, similarity = similarity):
    index = indices[title]
    similarity_scores = list(enumerate(similarity[index]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse= True)
    similarity_scores = similarity_scores[0:100]
    movieindices = [i[0] for i in similarity_scores]
    return data['Title'].iloc[movieindices]

print(netflix_recommendation("반드시 잡는다"))

42                  26 Years
59              4th Republic
72              7 Khoon Maaf
81                   93 Days
137     A Place in the Stars
                ...
5830                 Why Me?
5923                Your Son
5965                 반드시 잡는다
53                 40 Sticks
175                    Aamir
Name: Title, Length: 100, dtype: object